//日間
$mainColor: #f4ede7;
$secondColor: #e6dace;
$btnColor: rgba(62, 62, 247, 0.658);
$hoverColor: #0050ff;

//夜間
$nightMainColor:#696969;
$nightSecondColor:	#A9A9A9;
$otherColor:#D3D3D3;

.bgColor{
    background-color: $nightMainColor !important;
  }
.fontColor{
  color: white !important; 
}
.cardColor {
  background-color: $nightSecondColor !important;
}
.btnColor {
  background-color: $nightMainColor !important;
  color:white
}


 
  

